@model IEnumerable<LaTuerca.Models.Repuesto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Referencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarcaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeloID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockMinimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockMaximo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioCosto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioVenta1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioVenta2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioVenta3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Referencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Img)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarcaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModeloID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockMinimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockMaximo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioCosto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioVenta1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioVenta2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioVenta3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
