@model LaTuerca.Models.Menu

@{
    ViewBag.Title = "Crear";
}


<section class="content-header">
    <h1>
        <a href="@Url.Action("Index", "Menus")" class="btn btn-social  btn-sm">
            <i class="im-backward"></i> Volver a la Lista
        </a>
        <i class="im-menu"></i> @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li>Menú</li>
        <li class="active"><a href=""> @ViewBag.Title</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- form start -->
                @using (Html.BeginForm()) {
                    @Html.AntiForgeryToken()
                <form role="form" class="form-horizontal">
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-lg-4">
                            @Html.LabelFor(model => model.PadreId, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.PadreId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PadreId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-4">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Action, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Action, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Action, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                                @Html.LabelFor(model => model.Controller, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Controller, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Controller, "", new { @class = "text-danger" })
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Activar
                            </label>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary pull-right btn-flat">Guardar</button>
                    </div>
                </form>
                }
            </div><!-- /.box -->
        </div>
    </div>
</section>

@section Scripts {
     @Scripts.Render("~/bundles/jqueryval")
}