@model LaTuerca.Models.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Referencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarcaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModeloID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockMinimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockMinimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockMaximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockMaximo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioCosto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioCosto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioVenta1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioVenta1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioVenta2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioVenta2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioVenta3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioVenta3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
